body{
    
    min-height:100vh;
    
  }
  .cart-item-amount input{
    max-width: 40px;
  }
  .darker{
    background:rgba(0,0,0,0.5);
    padding:10px;
    margin:10px;
  }
  .darker .nav-link{
    color:white;
    font-weight: bold;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .test{
    background-image: url('/client/images/ferrari458italia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  } 

 